body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-container {
  height: 400px;
  overflow-y: auto;
}

.warning-row {
  background-color: #ffe2ea;
}