<!DOCTYPE html>
<html>
  <head>
    <title>Dollar rate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Currency rates: v<%= version %></h1>
  </body>
</html>
