body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.table-container {
  height: 400px;
  overflow-y: auto; }

.table-header {
  margin-bottom: 0;
  position: relative; }

.table-container td, .table-container th {
  border-left: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5; }

.warning-row {
  background-color: #ffe2ea !important; }
